{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class=" col-md-8 col-md-10 mx-auto">
      <div class="site-heading">
        <h3 class=" site-heading my-4 mt-3 text-white"> About Me</h3>
        <p class="text-light">
          Hello everyone! Welcome to my humble abode.

          I'm an engineering undergraduate in Artificial Intelligence Engineering from Amrita Vishwa Vidyapeetham. I'm
          interested
          in machine learning, deep learning, web and app development. I also play video games on my days off, Rainbow
          Six Siege
          anyone?
          <br>
          If I had to reveal the reason I got into Artificial Intelligence, it is because I find the idea of
          fabricating
          intelligence absolutely mindblowing. The human brain is a remarkable organ, and the fact that we could
          (hopefully) mimic
          its function is a truly beautiful goal to strive towards.
        </p>
      </div>
    </div>
  </div>
</div>
{%endblock%}